.about {
    font-family: manro;
    padding: 4rem 0 1rem;
    width: 100%;
}

.aboutBox {
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65rem;
    margin: auto;
}

.aboutSmBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.aboutSmBoxes:nth-child(1){
    justify-content: flex-end;
    opacity: 0;
    transform: scale(.2);
    transition: var(--transitionsSlow);
    animation: var(--zoomOutAnimation);
}

.aboutSmBoxes h1 {
    font-size: 2.5rem;
    font-weight: 500;
    width: 80%;
}

.aboutSmBoxes .aboutImg {
    width: 25rem;
    height: 28rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: var(--transitionsSlow);
    animation: var(--zoomOutSlowAnimation);
}

/* resume section stats */

.resume {
    padding-right: 2rem;
    width: 65rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    font-family: "Manrope", sans-serif;
}

.resumeSmBox {
    padding: 1rem;
    opacity: 0;
}

.resumeSmBox.animate.visible{
    animation: var(--fadeOutAnimaton);
}


.resumeSmBox:first-child {
    text-align: right;
}

.resumeHeading {
  font-size: 1.2rem;
  color: var(--deepBlack);
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 1rem;
}

.resumeSmBox:last-child {
    padding-right: 2rem;
}

.resumeSmBox:last-child p {
    font-size: 1rem;
    color: var(--grayColor);
}

/* second resume box */

.resume:last-child{
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.resume:last-child .resumeSmBox {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 2rem;
}

.resume:last-child .resumeSmBox h2 {
    flex: 1;
    min-width: 0;
}

.resume:last-child .resumeSmBox ul {
    flex: 1;
    padding: 0 0 0 1rem;
    min-width: auto;
}


.resume:last-child ul li{
    list-style-type: none;
    color: var(--grayColor);
    font-size: 1rem;
}

/* education section */
.resumeEducation {
    width: 65rem;
    margin: auto;
}

.resumeEducationBox{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    padding-right: 3rem;
    opacity: 0;
}

.resumeEducationBox.animate.visible {
    animation: var(--fadeOutAnimaton);
}

.resumeEducationBox h2 {
    text-align: right;
}

.resumeEducationBox table tr td{
    padding: 1rem;
    border-bottom: 1px solid #dbd9d9;
    color: var(--grayColor);
}

.buttonColumn{
    border: none !important;
    transform: scale(0.2);
    opacity: 0;
}

.buttonColumn.animate.visible {
    animation: var(--zoomOutAnimation);
}

.resumeEducationBox table tr td:nth-child(2){
    text-align: right;
}

.resumeBtn {
    padding: .8rem 1.8rem;
    color: var(--mainBodyColor);
    border: 1px solid var(--deepBlack);
    background-color: var(--deepBlack);
    width: fit-content;
    outline: none;
    cursor: pointer;
    transform: none;
    transition: var(--transitionsSlow);
    border-radius: 50px;
    font-size: 1rem;
}

.resumeBtn:hover {
    transform: scale(1.1);
    color: var(--deepBlack);
    background-color: var(--mainBodyColor);
}

/* contactBtn section starts */

.contactBtnSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 7rem;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    background: url('../assests/contactBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transform: scale(.2);
}

.contactBtnSection.animate.visible {
    animation: var(--zoomOutAnimation);
}

.contactBtnSection p{
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--deepBlack);
    font-weight: 500;
    margin-bottom: 2rem;
}

.contactBtnSection img {
    width: 25rem;
    height: auto;
    margin-bottom: 2rem;
}

.contactBtnSection button {
    background-color: transparent;
    color: var(--deepBlack);
}

.contactBtnSection button:hover {
    background-color: var(--deepBlack);
    color: var(--mainBodyColor);
}



@media only screen and (max-width: 1120px)  {
/* about section */
.aboutBox {
    width: 60rem;
}

.aboutSmBoxes h1 {
    font-size: 2.5rem;
    font-weight: 500;
    width: 90%;
}

.resume {
    width: 60rem;
}

.resumeEducation {
    width: 60rem;
}


}
@media only screen and (max-width: 920px)  {
    /* about section */
.aboutBox {
    width: 50rem;
}

.aboutSmBoxes h1 {
    font-size: 2.2rem;
    font-weight: 500;
    width: 85%;
}

.resume {
    width: 50rem;
    gap: 0;
}

.resumeEducation {
    width: 50rem;
}

.resume:last-child{
    padding-right: 4rem;
}

.resume:last-child .resumeSmBox{
    padding: 0;
    gap: 0;
}

.resumeEducation {
    width: 55rem;
   
}

.resumeEducationBox{
    gap: 0;
    padding-right: 4rem;
}

.leftUl {
    text-align: left !important;
}

}
@media only screen and (max-width: 820px)  {
.aboutBox {
    flex-direction: column;
    width: 100%;
}

.aboutSmBoxes h1 {
    font-size: 2.2rem;
    font-weight: 500;
    width: 100%;
    padding: 0 2rem;
    text-align: center;
}

/* resume section */
.resume {
    grid-template-rows: auto 1fr;
    grid-template-columns: none;
    padding-right: 0;
    width: 100%;
}

.resume .resumeSmBox:first-child{
    min-width: 0;
}

.resume .resumeSmBox:first-child{
    min-width: auto;
}

.resumeHeadingBox1{
    padding: 0 1rem !important;
}

.resume:last-child {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    padding-right: 0;
}

.resume:last-child .resumeSmBox {
    padding: 1rem;
    width: 100%;
    /* text-align: left; */
}

.resumeSmBox:last-child {
    padding-right: 1rem;
}

.resumeHeading{
    text-align: left !important;
    padding: 0;
}

.leftUl {
    text-align: right !important;
}

.resumeEducation {
    width: 100%;
}

.resumeEducationBox {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    padding: 1rem;
}

.resumeEducationBox table tr td {
    padding: 1rem 0;
}

.requestResumeBtn{
    padding: .8rem 1.2rem;
    font-size: 0.8rem;
}

/* contact section */

.contactBtnSection {
    background-size: cover;
}


}
@media only screen and (max-width: 640px)  {}